

header {
	height: 860px;
	background-image: url(../img/header/header.png);
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}

nav {
	border-bottom: 1px solid #7b7b7b;
}

.nav__wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 22px;
	padding-bottom: 20px;
}

.nav__logo {
	height: 67px;
	width: 67px;
	background-color: #11749e;
	box-shadow: 12px 8px 0 0 #cacaca;
	margin-left: 11%;
}

.nav__logo_text {
	text-align: center;
	font-family: "OpenSans-Bold";
	font-size: 30px;
	color: #fff;
	margin-top: 17px;
}

.nav__page {
	display: flex;
	justify-content: flex-end;
	flex-grow: 20;
}

.nav__page li {
	list-style: none;
	font-family: "OpenSans-Regular";
	font-size: 20px;
	margin-right: 49px;
}

.nav__page a {
	text-decoration: none;
	color: #fff;
}

.nav__page a:hover {
	color: #11749e;
}

.nav__soc {
	margin-right: 8%;
}

.nav__soc a {
	color: #fff;
	margin-right: 20px;
}

.header__main_text {
	text-align: center;
	font-family: "OpenSans-ExtraBold";
	font-size: 152px;
	color: #fff;
	margin-top: 265px;
}

.header__main_text_s {
	text-align: center;
	font-family: "OpenSans-Regular";
	font-size: 38px;
	color: #11749e;
	margin-top: 0px;
}





/* features */





.features {
	background-color: #11749e;
}

.features__wrap {
	padding-bottom: 70px;
}

.features_main_text_l {
	color: #3c8daf;
}

.large_text {
	text-align: center;
	font-family: "OpenSans-ExtraBold";
	font-size: 247px;
}

.features_main_text_s {
	color: #fff;
}

.small_text {
	text-align: center;
	margin-top: -150px;
	font-family: "OpenSans-Bold";
	font-size: 37px;
	text-transform: uppercase;
}

.features__desc {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 200px;
	margin-left: 9%;
	margin-right: 10%;
}

.features__desc_area {
	padding-bottom: 50px;
}

.features__desc img {
	margin-top: 47px;
}

.features__desc_circle {
	text-align: center;
	width: 133px;
	height: 133px;
	border-radius: 50%;
	background-color: #2e85aa;
	margin-left: 60px;
}

.features__desc_text_l {
	color: #fff;
	margin-top: 25px;
	margin-left: -5px;
	text-align: center;
}

.desc_l {
	font-family: "OpenSans-Bold";
	font-size: 18px;
	text-transform: uppercase;
}

.features__desc_text_s {
	line-height: 24px;
	color: #fff;
	margin-top: 25px;
	max-width: 265px;
}

.desc_s {
	text-align: center;
	font-family: "OpenSans-Regular";
	font-size: 15px;
}






/* news */




.news {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.news__container_dark {
	display: flex;
}

.container_dark_text {
	background-color: #222;
	height: 450px;
	width: 50%;
}

.container_dark_img {
	height: 450px;
	width: 50%;
}

.news__container_light {
	display: flex;
}

.container_light_img {
	height: 475px;
	width: 50%;
}

.container_light_text {
	background-color: #f3f3f3;
	height: 475px;
	width: 50%;
}

.container_dark_main {
	color: #fff;
	margin-left: 15%;
}

.container_dark_data {
	margin-top: 50px;
	white-space: pre;
	font-family: "OpenSans-Regular";
	font-size: 13px;
	margin-bottom: 15px;
}

.h1 {
	font-family: "OpenSans-Bold";
	font-size: 25px;
	line-height: 36px;
	text-transform: uppercase;
}

.h2 {
	font-family: "OpenSans-Regular";
	font-size: 15px;
	margin-top: 30px;
	width: 85%
}

.container_light_main {
	color: black;
	margin-left: 15%;
}

.light_data {
	margin-top: 50px;
}




/* blog */



.blog {
	background-color: #fff;
}

.blog__wrap {
	
	padding-bottom: 100px;
}

.blog_text_l {
	color: #d7d7d7;
}

.blog_text_s {
	color: #222;
}

.blog_text_m {
	text-align: center;
	font-family: "OpenSans-Regular";
	font-size: 30px;
	color: #3f3f3f;
	margin-top: 100px;
}

.blog__main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 7%;
	margin-right: 6%;
}

.blog__main_area {
	width: 270px;
	margin-top: 80px;
	margin-right: 15px;
}

.blog_main_text_l {
	margin-top: 40px;
}

.blog_main_text_l a {
	color: #11749e;
	text-decoration: none;
}

.blog_main_text_s {
	margin-top: 25px;
}

.blog_main_text_s a {
	color: black;
	text-decoration: none;
}

.four {
	
}


/* description */




.description {
	background-color: #11749e;
	padding-bottom: 100px;
}

.description__main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.description__main_container {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.description img {
	
}

.description__text {
	margin-top: -75px;
	margin-left: 100px;
	text-align: left;
	color: #fff;
	width: 85%;
}



/* advert */



.advert {
	background-image: url(../img/advert/background.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 200px;
}

.advert__text {
	color: #fff;
	width: 390px;
	margin-left: 10%;
	padding-top: 225px;
}

.advert__text_s {
	width: 380px;
}

.advert__btn {
	margin-top: 60px;

}

.advert__btn a {
	text-decoration: none;
	color: #fff;
	font-family: "OpenSans-Bold";
	font-size: 15px;
	text-transform: uppercase;

}

.btn {
	background-color: #11749e;
	padding: 13px 19px;
	margin-bottom: 25px;
}

.one {
	width: 310px;
}

.two {
	width: 340px;
}

.three {
	width: 370px;
}

.advert__img {
	float: right;
	margin-top: 100px;
	margin-right: 7%;
}



/*   team  */



.team {
	background-color: #fff;
	padding-bottom: 50px;
}

.team_text_l {
	color: #d7d7d7;
}

.team__main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-left: 10%;
	margin-right: 7%;
}

.team__main_area {
	text-align: center;
	margin-right: 30px;
	padding-bottom: 50px;
}

.team__main_proff {
	text-align: center;
	position: absolute;
	margin-left: 30px;
	width: 215px;
	height: 48px;
	margin-top: 365px;
	background-color: #fff;
}

.team__name {
	margin-top: 20px;
	font-family: "OpenSans-Bold";
	font-size: 20px;
	color: #11749e;
}



/* contact */



.contact {
	background-image: url(../img/contact/bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

.contact_text_l {
	color: #323232;
}

.contact_text_s {
	color: #fff;
}

.contact_area {
	text-align: center;
	margin-top: 100px;
}

.contact_textarea {
	margin-top: 35px;
	resize: none;
	height: 45px;
	width: 20%;
	background: none;
	color: #fff;
	line-height: 45px;
	text-indent: 20px;
}

textarea::-webkit-input-placeholder {
	color: #fff;
	line-height: 45px;
	text-indent: 20px;
	opacity: 1;
    transition: opacity 300ms;
}

textarea:focus::-webkit-input-placeholder {
	opacity: 0;
}

.textarea__messeage {
	height: 150px;
	width: 30%;
	margin-top: 35px;
}

.contact__submit {
	margin-top: 45px;
	width: 225px;
	height: 65px;
	background-color: #11749e;
	border: none;
	color: #fff;
	font-family: "OpenSans-Bold";
	font-size: 24px;
}

.map {
	width: 100%;
	height: 335px;
}



/* footer */



.footer {
	height: 110px;
	background-color: #222;
}

.footer__text_copy {
	position: absolute;
	margin-top: 50px;
	margin-left: 12%;
	font-family: "OpenSans-Regular";
	font-size: 13px;
	color: #fff;
}

.footer__text_design {
	position: absolute;
	right: 11%;
	margin-top: 50px;
	font-family: "OpenSans-Regular";
	font-size: 13px;
	color: #fff;
}
