.scheme {
  background-color: #eaeaea;
  padding-bottom  : 500px;
  text-align: center;
  border-top: 2px solid #d6d6d6;
}

.scheme-headline {
  @include headline-skew;
}

.scheme-headline-line:after,
.scheme-headline-line:before{
  position: absolute;
  content : '';
  width   : 125%;
}

.scheme-headline-line::after{
  top       : -17px;
  left      : -35px;
  border-top: 3px solid $headline-line;
}

.scheme-headline-line::before{
  bottom    : -17px;
  left      : -35px;
  border-top: 3px solid $headline-line;
}

.scheme-svg {
  position: absolute;
  left: 50%;
  margin-left: -470px;
  z-index: 5;
  width: 940px;
  height: 401px;
}

.scheme-request {
  position: relative;
  top: 85px;
  left: 35px;
  text-align: left;
}

.scheme-request-img {
  background: url('../img/css_sprites.png') -10px -87px;
  width: 52px;
  height: 52px;
}

.scheme-request a {
  position: relative;
  left: 81px;
  top: -35px;
  color: #fff;
}

.scheme-route {
  position: absolute;
  top: 85px;
  left: 430px;
  text-align: left;
}

.scheme-route-img {
  background: url('../img/css_sprites.png') -110px -10px;
  width: 64px;
  height: 53px;
}

.scheme-route-text {
  position: relative;
  left: 90px;
  top: -45px;
  color: #fff;
}

.scheme-lading {
  position: absolute;
  top: 250px;
  left: 550px;
  text-align: left;
}

.scheme-lading-img {
  background: url('../img/css_sprites.png') -194px -10px;
  width: 60px;
  height: 43px;
}

.scheme-lading-text {
  position: relative;
  left: 90px;
  top: -45px;
  color: #fff;
}

.scheme-info {
  position: absolute;
  top: 250px;
  left: 170px;
  text-align: left;
}

.scheme-info-img {
  background: url('../img/css_sprites.png') -82px -87px;
  width: 54px;
  height: 50px;
}

.scheme-info-text {
  position: relative;
  left: 80px;
  top: -45px;
  color: #fff;
}

.scheme-delivery {
  position: absolute;
  top: 407px;
  left: 120px;
  text-align: left;
}

.scheme-delivery-img {
  background: url('../img/css_sprites.png') -10px -159px;
  width: 43px;
  height: 52px;
}

.scheme-delivery-text {
  position: relative;
  left: 65px;
  top: -53px;
  color: #fff;
}

.scheme-feature-text {
  position: absolute;
  top: 410px;
  left: 370px;
  text-align: left;
  font-family: "Roboto-Bold";
  font-size: 18px;
  color: #27272f;
}

.scheme-btn {
  position: absolute;
  top: 422px;
  left: 715px;
  text-transform: uppercase;
}

.scheme-btn a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .scheme {
    padding-bottom  : 350px;
  }

  .scheme-svg {
    width: 700px;
    margin-left: -350px;
  }

  .scheme-request {
    position: relative;
    top: 75px;
    left: 25px;
    text-align: left;
  }

  .scheme-request-img {
    background: url('../img/css_sprites.png') -10px -87px;
    width: 52px;
    height: 52px;
  }

  .scheme-request a {
    position: relative;
    left: 75px;
    top: -35px;
    color: #fff;
    font-size: 12px;
  }

  .scheme-route {
    position: absolute;
    top: 75px;
    left: 300px;
    text-align: left;
  }

  .scheme-route-img {
    background: url('../img/css_sprites.png') -110px -10px;
    width: 64px;
    height: 53px;
  }

  .scheme-route-text {
    position: relative;
    left: 90px;
    top: -45px;
    color: #fff;
    font-size: 12px;
  }

  .scheme-lading {
    position: absolute;
    top: 200px;
    left: 400px;
    text-align: left;
  }

  .scheme-lading-img {
    background: url('../img/css_sprites.png') -194px -10px;
    width: 60px;
    height: 43px;
  }

  .scheme-lading-text {
    position: relative;
    left: 80px;
    top: -50px;
    color: #fff;
    font-size: 12px;
  }

  .scheme-info {
    position: absolute;
    top: 195px;
    left: 110px;
    text-align: left;
  }

  .scheme-info-img {
    background: url('../img/css_sprites.png') -82px -87px;
    width: 54px;
    height: 50px;
  }

  .scheme-info-text {
    position: relative;
    left: 60px;
    top: -45px;
    color: #fff;
    font-size: 12px;
  }

  .scheme-delivery {
    position: absolute;
    top: 315px;
    left: 90px;
    text-align: left;
  }

  .scheme-delivery-img {
    background: url('../img/css_sprites.png') -10px -159px;
    width: 43px;
    height: 52px;
  }

  .scheme-delivery-text {
    position: relative;
    left: 55px;
    top: -53px;
    color: #fff;
    font-size: 12px;
  }

  .scheme-feature-text {
    position: absolute;
    top: 325px;
    left: 280px;
    text-align: left;
    font-family: "Roboto-Bold";
    font-size: 18px;
    color: #27272f;
    font-size: 12px;
  }

  .scheme-btn {
    position: absolute;
    top: 332px;
    left: 520px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .scheme-btn a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .scheme {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .scheme {
    display: none;
  }
}
