header {
  min-height: 600px;
  background-image: url(../img/header/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header-headline {
  padding-top: 91px;
  @include h1;
}

.header-subtitle {
  margin: 0 auto;
  margin-top: 42px;
  @include h3;
}

.header-btn {
  display: inline-block;
  margin-top: 54px;
  border: 2px solid #fff;
  padding: 15px 29px;
  border-radius: 5px;
}

.header-btn--font {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}

.header-features {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 44px;
  padding-bottom: 44px;
  @include width;
  border-top: 1px solid $white;
}

.header-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-features-shipment {
  background: url('../img/css_sprites.png') -10px -10px;
  width: 80px;
  height: 57px;
}

.header-features-desc {
  max-width: 144px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin-top: 18px;
}

.header-features-lading {
  background: url('../img/css_sprites.png') -194px -10px;
  width: 60px;
  height: 43px;
}

.header-features-info {
  background: url('../img/css_sprites.png') -10px -159px;
  width: 43px;
  height: 52px;
}

.header-features-insure {
  width: 40px;
  height: 46px;
  background: url('../img/css_sprites.png') -73px -159px;
}

.header-features-delay {
  width: 54px;
  height: 46px;
  background: url('../img/css_sprites.png') -194px -73px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header-features {
    flex-direction: column;
    padding-top: 10px;
  }

  .header-features-container {
    margin-top: 25px;
  }
}
