@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: "Arial";
    src: url(../fonts/arial.ttf);
}

@font-face {
    font-family: "Arial_italic";
    src: url(../fonts/arial_italic.ttf);
}
