.depart-header {
  min-height: 100vh;
  background-image: url('../img/departments.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.depart-text {
  font-family: "RobotoMono-Regular";
  color: #000;
  margin-left: 50px;
}

#exampleAccordion {
  padding-top: 15%;
}
