.emplo-header {
  min-height: 100vh;
  background-image: url('../img/account.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.emplo-caption {
  font-family: "RobotoMono-Thin";
  font-size: 50px;
  color: #000;
  padding-top: 10%;
}
