body {
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  background-image: url('../img/112.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-image {
  background-image: url('../img/about2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.caption {
  font-family: "RobotoMono-Thin";
  font-size: 36px;
  color: #000;
  padding-left: 50px;
}

.main-text {
  font-family: "RobotoMono-Light";
  padding-left: 50px;
}

.main-text a {
  color: #959595;
  text-decoration: none;
  margin-left: 0;
}

.deport-btn {
  margin-top: 20px;
}

.deport-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #959595;
}

.contact-form textarea,
.contact-form input {
  background-color: #040302;
  color: #fff;
  border: 1px solid #959595;
  border-radius: 4px;
}

.contact-form input::-webkit-input-placeholder {color:#959595;}
.contact-form input::-moz-placeholder          {color:#959595;}
.contact-form input:-moz-placeholder           {color:#959595;}
.contact-form input:-ms-input-placeholder      {color:#959595;}
